.inputForm {
    border: 3px dotted rgb(90, 90, 245);
    padding: 5%;
}

.inputForm *{
    /* border: 3px dotted rgb(90, 90, 245); */
    /* flex-grow: 1; */
}

.textInputContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inputForm input {
    /* flex-basis: 45%; */
    width: 45%;
    height: 2rem;
    padding: 0% 0.5rem;
}

.inputForm>button {
    color: white;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    height: 3rem;
    margin: 5% 0% 0%;
}