.inputForm {
    border: 3px dotted rgb(90, 90, 245);
    padding: 5%;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between;
    align-content: space-between; */
    flex-wrap: wrap;
}

.inputForm *{
    border: 3px dotted rgb(90, 90, 245);
    /* flex-grow: 1; */
}

.inputForm input {
    /* margin: 0% 5%; */
    /* width: 47%; */
    height: 2rem;
    padding: 0% 0.5rem;
    /* flex-basis: 47%; */
    /* flex-shrink: 1; */
    flex-grow: 1;
    /* align-self: stretch; */
}

.inputForm>button {
    color: white;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    height: 3rem;
    margin: 5% 0% 0%;
    /* align-self: stretch; */
    /* flex-grow: 6; */
    /* flex-grow:0; */
    /* flex-basis:100%; */
}