.navbar * {
    /* border: 1px dotted rgb(249, 249, 252); */
    box-sizing: border-box;
}

header.navbar {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    height: 65px;
    /* max-height: 65px; THIS DOES FAIL! WHY? */

    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

    padding: 0.5rem;
}

header.navbar img {
    height: 100%;
    margin-left: 0.5rem;
}

header.navbar h2 {
    font-size: 20.75px;
    font-weight: 700;
    font-family:'Karla';
    color: white;
    margin-left: 0.5rem;
}