.navbar * {
    /* border: 1px dotted rgb(249, 249, 252); */
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

    max-height: 3rem;
    padding: 0.5rem;
}

.navbar--img-container {
    margin-left: 0.5rem;
    width: 3rem;
    display: flex;
    align-items: center;
}

.navbar--img-container img {
    width: 100%;
}

.navbar--text {
    font-size: 20.75px;
    font-weight: 700;
    font-family:'Karla';
    color: white;
    margin-left: 0.5rem;
}